!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <title>HVAC Maintenance of Texas</title>
    <meta name="description" content=" | AC and Furnace Needs of Texas" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="//gmpg.org/xfn/11" />
    <link rel="icon" href="http://localhost:51036/AboutUsInfo/AWS/content/theme/favicon.ico" type="image/x-icon" />
    <link rel="pingback" href="https://livedemo00.template-help.com/wordpress_54033/xmlrpc.php" />
    <link rel="alternate" type="application/rss+xml" title="HVAC Maintenance of Texas" href="https://livedemo00.template-help.com/wordpress_54033/feed/" />
    <link rel="alternate" type="application/atom+xml" title="HVAC Maintenance of Texas" href="https://livedemo00.template-help.com/wordpress_54033/feed/atom/" />
    <link rel="stylesheet" type="text/css" media="all" href="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/bootstrap/css/responsive.css" />
    <link rel="stylesheet" type="text/css" media="all" href="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/css/camera.css" />
    <link rel="stylesheet" type="text/css" media="all" href="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/style.css" />
    <link rel="alternate" type="application/rss+xml" title="HVACMOT &raquo; Feed" href="https://livedemo00.template-help.com/wordpress_54033/feed/" />
    <link rel="alternate" type="application/rss+xml" title="HVACMOT &raquo; Comments Feed" href="https://livedemo00.template-help.com/wordpress_54033/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="HVACMOT &raquo; Home Comments Feed" href="https://livedemo00.template-help.com/wordpress_54033/home/feed/" />
    <script type="text/javascript">
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/livedemo00.template-help.com\/wordpress_54033\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.21"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);</script>
    <style type="text/css">

        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='flexslider-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/flexslider.css?ver=2.2.0' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/owl.carousel.css?ver=1.24' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/owl.theme.css?ver=1.24' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css?ver=3.2.1' type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-plugin-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/includes/css/cherry-plugin.css?ver=1.2.7' type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-lazy-load-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-lazy-load/css/lazy-load.css?ver=1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.8' type='text/css' media='all' />
    <link rel='stylesheet' id='mailchimp-for-wp-checkbox-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/mailchimp-for-wp/assets/css/checkbox.min.css?ver=2.2.5' type='text/css' media='all' />
    <link rel='stylesheet' id='mailchimp-for-wp-form-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/mailchimp-for-wp/assets/css/form.min.css?ver=2.2.5' type='text/css' media='all' />
    <link rel='stylesheet' id='theme54033-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/main-style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css' href='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/css/magnific-popup.css?ver=0.9.3' type='text/css' media='all' />
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery-1.7.2.min.js?ver=1.7.2'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/lib/js/jquery.easing.1.3.js?ver=1.3'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/lib/js/elasti-carousel/jquery.elastislide.js?ver=1.2.7'></script>
    <script type='text/javascript' src='//maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;ver=4.2.21'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery-migrate-1.2.1.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-includes/js/swfobject.js?ver=2.2-20120417'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/modernizr.js?ver=2.0.6'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jflickrfeed.js?ver=1.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/custom.js?ver=1.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/bootstrap/js/bootstrap.min.js?ver=2.3.0'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://livedemo00.template-help.com/wordpress_54033/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://livedemo00.template-help.com/wordpress_54033/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.2.21" />
    <link rel='canonical' href='https://livedemo00.template-help.com/wordpress_54033/' />
    <link rel='shortlink' href='https://livedemo00.template-help.com/wordpress_54033/' />
    <script>
var system_folder = 'https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/admin/data_management/',
	 CHILD_URL ='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033',
	 PARENT_URL = 'https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework',
	 CURRENT_THEME = 'theme54033'</script>
    <style type='text/css'>

        body {
            background-color: #b6c4d0
        }

        .header {
            background-color: #355477
        }
    </style>
    <style type='text/css'>

        h1 {
            font: normal 36px/46px Roboto, sans-serif;
            color: #355477;
        }

        h2 {
            font: normal 36px/46px Roboto, sans-serif;
            color: #355477;
        }

        h3 {
            font: normal 36px/46px Roboto, sans-serif;
            color: #355477;
        }

        h4 {
            font: normal 36px/40px Roboto, sans-serif;
            color: #ffffff;
        }

        h5 {
            font: normal 18px/24px Roboto, sans-serif;
            color: #b5c5d1;
        }

        h6 {
            font: normal 14px/20px Arial, Helvetica, sans-serif;
            color: #355477;
        }

        body {
            font-weight: normal;
        }

        .logo_h__txt, .logo_link {
            font: normal 60px/72px Roboto, sans-serif;
            color: #ffffff;
        }

        .sf-menu > li > a {
            font: normal 18px/24px Roboto, sans-serif;
            color: #ffffff;
        }

        .nav.footer-nav a {
            font: normal 16px/20px Roboto, sans-serif;
            color: #ffffff;
        }
    </style>
    <!--[if lt IE 9]>
        <div id="ie7-alert" style="width: 100%; text-align:center;">
            <img src="https://tmbhtest.com/images/ie7.jpg" alt="Upgrade IE 8" width="640" height="344" border="0" usemap="#Map" />
            <map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="https://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="https://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="https://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="https://www.mozilla.com/" target="_blank" alt="Download Firefox" /><area shape="rect" coords="35,201,143,329" href="https://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
            </map>
        </div>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.mobile.customized.min.js" type="text/javascript"></script>
    <script type="text/javascript">
jQuery(function(){
				jQuery('.sf-menu').mobileMenu({defaultText: "Navigate to..."});
			});</script>
    <!--<![endif]-->
    <script type="text/javascript">
// Init navigation menu
		jQuery(function(){
		// main navigation init
			jQuery('ul.sf-menu').superfish({
				delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
				animation: {
					opacity: "show",
					height: "show"
				}, // used to animate the sub-menu open
				speed: "normal", // animation speed
				autoArrows: false, // generation of arrow mark-up (for submenu)
				disableHI: true // to disable hoverIntent detection
			});

		//Zoom fix
		//IPad/IPhone
			var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),
				ua = navigator.userAgent,
				gestureStart = function () {
					viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
				},
				scaleFix = function () {
					if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {
						viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
						document.addEventListener("gesturestart", gestureStart, false);
					}
				};
			scaleFix();
		})</script>
    <!-- stick up menu -->
    <script type="text/javascript">
jQuery(document).ready(function(){
			if(!device.mobile() && !device.tablet()){
				jQuery('header.header .header_block').tmStickUp({
					correctionSelector: jQuery('#wpadminbar')
				,	listenSelector: jQuery('.listenSelector')
				,	active: false				,	pseudo: true				});
			}
		})</script>
</head>
<body class="home page page-id-203 page-template page-template-page-home page-template-page-home-php olrk-live-chat">
    <div id="motopress-main" class="main-holder">
        <!--Begin #motopress-main-->
        <header class="motopress-wrapper header">
            <div class="container">
                <div class="row">
                    <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="5bdcb65badffe">

                        <div class="header_block">
                            <div class="row">
                                <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
                                    <!-- BEGIN MAIN NAVIGATION -->
                                    <nav class="nav nav__primary clearfix">
                                        <ul id="topnav" class="sf-menu">
                                            <li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item"><a href="https://livedemo00.template-help.com/wordpress_54033/">Home</a></li>
                                            <li id="menu-item-1810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                <a href="https://livedemo00.template-help.com/wordpress_54033/about-me/">Services We Offer</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-1811" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/about-me/testi/">Testimonials</a></li>
                                                    <li id="menu-item-1812" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/about-me/archives/">Archives</a></li>
                                                    <li id="menu-item-1805" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/about-me/faqs/">FAQs</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-1808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                <a href="https://livedemo00.template-help.com/wordpress_54033/portfolio/">Texas Tips</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-1815" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/portfolio/media-2/">Media 2</a></li>
                                                    <li id="menu-item-1814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                        <a href="https://livedemo00.template-help.com/wordpress_54033/portfolio/media-3/">Media 3</a>
                                                        <ul class="sub-menu">
                                                            <li id="menu-item-1883" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/portfolio/media-3/category-1/">Category 1</a></li>
                                                            <li id="menu-item-1882" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/portfolio/media-3/category-2/">Category 2</a></li>
                                                            <li id="menu-item-1881" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/portfolio/media-3/category-3/">Category 3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li id="menu-item-1813" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/portfolio/media-4/">Media 4</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-1806" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/blog/">Blog</a></li>
                                            <li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://livedemo00.template-help.com/wordpress_54033/contacts/">Contacts</a></li>
                                        </ul>
                                    </nav><!-- END MAIN NAVIGATION -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
                                <div class="wrapper">
                                    <!-- BEGIN LOGO -->
                                    <div class="logo pull-left">
                                        <a href="https://livedemo00.template-help.com/wordpress_54033/" class="logo_h logo_h__img"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/images/logo.png" alt="HVAC Maintenance of Texas" title="HVAC Maintenance of Texas"></a>
                                        <p class="logo_tagline">HVAC Maintenance of Texas</p><!-- Site Tagline -->
                                    </div>
                                    <!-- END LOGO -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12 hidden-phone" data-motopress-type="static" data-motopress-static-file="static/static-search.php">
                                <!-- BEGIN SEARCH FORM -->
                                <!-- END SEARCH FORM -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="motopress-wrapper content-holder clearfix">
            <div class="container">
                <div class="row">
                    <div class="span12" data-motopress-wrapper-file="page-home.php" data-motopress-wrapper-type="content">
                        <div class="row">
                            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-slider.php">
                                <div id="slider-wrapper" class="slider">
                                    <div class="container">


                                        <script type="text/javascript">
//    jQuery(window).load(function() {
		jQuery(function() {
			var myCamera = jQuery('#camera5bdcb65bd332e');
			if (!myCamera.hasClass('motopress-camera')) {
				myCamera.addClass('motopress-camera');
				myCamera.camera({
					autoAdvance         : true, //true, false
					mobileAutoAdvance   : true, //true, false. Auto-advancing for mobile devices
					cols                : 12,
					fx                  : "simpleFade", //'random','simpleFade', 'curtainTopLeft', 'curtainTopRight', 'curtainBottomLeft',          'curtainBottomRight', 'curtainSliceLeft', 'curtainSliceRight', 'blindCurtainTopLeft', 'blindCurtainTopRight', 'blindCurtainBottomLeft', 'blindCurtainBottomRight', 'blindCurtainSliceBottom', 'blindCurtainSliceTop', 'stampede', 'mosaic', 'mosaicReverse', 'mosaicRandom', 'mosaicSpiral', 'mosaicSpiralReverse', 'topLeftBottomRight', 'bottomRightTopLeft', 'bottomLeftTopRight', 'bottomLeftTopRight'
					loader              : "no", //pie, bar, none (even if you choose "pie", old browsers like IE8- can't display it... they will display always a loading bar)
					navigation          : false, //true or false, to display or not the navigation buttons
					navigationHover     : false, //if true the navigation button (prev, next and play/stop buttons) will be visible on hover state only, if false they will be visible always
					pagination          : true,
					playPause           : false, //true or false, to display or not the play/pause buttons
					rows                : 8,
					slicedCols          : 12,
					slicedRows          : 8,
					thumbnails          : false,
					time                : 7000, //milliseconds between the end of the sliding effect and the start of the next one
					transPeriod         : 1500, //lenght of the sliding effect in milliseconds
					hover               : true, //pause on state hover. Not available for mobile devices
					alignment : 'topCenter',
barDirection : 'leftToRight',
barPosition : 'top',
easing : 'easeOutQuad',
mobileEasing : '',
mobileFx : '',
gridDifference : 250,
imagePath : 'images/',
minHeight : "100px",
height : "43.24%",
loaderColor : '#ffffff',
loaderBgColor : '#eb8a7c',
loaderOpacity : 1,
loaderPadding : 0,
loaderStroke : 3,
pieDiameter : 33,
piePosition : 'rightTop',
portrait : true,
					////////callbacks
					onEndTransition     : function(){}, //this callback is invoked when the transition effect ends
					onLoaded            : function(){}, //this callback is invoked when the image on a slide has completely loaded
					onStartLoading      : function(){}, //this callback is invoked when the image on a slide start loading
					onStartTransition   : function(){} //this callback is invoked when the transition effect starts
				});
			}
		});
//    });</script>
                                        <div id="camera5bdcb65bd332e" class="camera_wrap camera">
                                            <div data-src='https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/slide-1170x506.jpg' data-thumb='https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/slide-100x50.jpg'>
                                                <div class="camera_caption fadeIn">
                                                    <a href="academic-nominations/economic-questions">We are open to everybody regardless of race & religion</a>
                                                </div>
                                            </div><div data-src='https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/slide-1170x506.jpg' data-thumb='https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/slide-100x50.jpg'>
                                                <div class="camera_caption fadeIn">
                                                    <a href="federal-grant-funding/social-questions">The security of the country, the prosperity of the people</a>
                                                </div>
                                            </div><div data-src='https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/slide-1170x506.jpg' data-thumb='https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/slide-100x50.jpg'>
                                                <div class="camera_caption fadeIn">
                                                    <a href="flag-requests/medical-questions">Creating a country for every citizen</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- .slider -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
                                <div id="post-203" class="page post-203 type-page status-publish hentry">
                                    <div class="row ">
                                        <div class="span6 ">
                                            <section class="lazy-load-box  trigger effect-slidefromleft" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                <div class="service-box style_1">
                                                    <figure class="icon"><a href="https://livedemo00.template-help.com/wordpress_54033/internship-applications/education-questions"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/images/icon1.png" alt="" /></a></figure><div class="service-box_body">
                                                        <h2 class="title"><a href="https://livedemo00.template-help.com/wordpress_54033/internship-applications/education-questions" target="_self">Why Choose Us?</a></h2><div class="service-box_txt">
                                                            Free second opinion
                                                            Free estimates on replacements and installs
                                                            10% military, police and senior citizen discount
                                                            Free one-year service agreement with whole system replacement
                                                        </div>
                                                    </div>
                                                </div><!-- /Service Box -->
                                            </section>
                                            <section class="lazy-load-box  trigger effect-slidefromleft" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                <div class="service-box style_1"><figure class="icon"><a href="https://livedemo00.template-help.com/wordpress_54033/press-releases/phasellus-fringilla"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/images/icon2.png" alt="" /></a></figure><div class="service-box_body"><h2 class="title"><a href="https://livedemo00.template-help.com/wordpress_54033/press-releases/phasellus-fringilla" target="_self">HVAC Services</a></h2><div class="service-box_txt">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem.</div></div></div><!-- /Service Box -->
                                            </section>
                                            <section class="lazy-load-box  trigger effect-slidefromleft" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                <div class="service-box style_1"><figure class="icon"><a href="https://livedemo00.template-help.com/wordpress_54033/statements-and-speeches/vivamus-vel-sem-at"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/theme54033/images/icon3.png" alt="" /></a></figure><div class="service-box_body"><h2 class="title"><a href="https://livedemo00.template-help.com/wordpress_54033/statements-and-speeches/vivamus-vel-sem-at" target="_self">HVAC101</a></h2><div class="service-box_txt">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem.</div></div></div><!-- /Service Box -->
                                            </section>
                                        </div>
                                        <div class="span6 ">
                                            <section class="lazy-load-box  trigger effect-slidefromright" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                <div class="banner-wrap style_1"><figure class="featured-thumbnail"><a href="newsletters/etiam-commodo-convallis" title="absolutely new approach to HVAC"><img src="~/Content/Images/HVAC.jpg" title="absolutely new approach to HVAC" alt="" /></a></figure><div class="caption"><h5>New approach to HVAC system maintenance and health</h5><div class="link-align banner-btn"><a href="newsletters/etiam-commodo-convallis" title="Focus on your AC health" class="btn btn-link" target="_self">AC health Focus</a></div></div></div><!-- .banner-wrap (end) -->
                                            </section>
                                            <section class="lazy-load-box  trigger effect-slidefromright" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                <div class="service-box style_2">
                                                    <div class="service-box_body">
                                                        <h2 class="title"><em>(800)</em> 123 1234 <strong><em>(800)</em> 123 1235</strong></h2><div class="service-box_txt">
                                                            USA - GREATER HOUSTON METRO,<br />
                                                            1802 Oak Ridge Rd,<br />
                                                            Willis, Texas 77378<br />
                                                            E -mail: HVACMaintanenceofTexas@outlook.com
                                                        </div>
                                                    </div>
                                                </div><!-- /Service Box -->
                                            </section>
                                        </div>
                                    </div><!-- .row (end) -->
                                    <div class="row ">
                                        <div class="span12 ">
                                            <section class="lazy-load-box  trigger effect-fade" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                <div class="banner-wrap style_2"><figure class="featured-thumbnail"><a href="news-articles/lorem-ipsum-dolor-sit" title="TIMELY, RELIABLE, EXPERTISE"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/banner_1.png" title="TIMELY, RELIABLE, EXPERTISE" alt="" /></a></figure><div class="caption"><h5>TIMELY, RELIABLE, EXPERTISE</h5><p><strong>Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci ac sem.</strong> Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p></div></div><!-- .banner-wrap (end) -->
                                            </section>
                                        </div>
                                    </div><!-- .row (end) -->
                                    <div class="content_box box ">
                                        <div class="row ">
                                            <div class="span12 ">
                                                <section class="lazy-load-box  trigger effect-fade" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                    <div class="carousel-wrap list_1"><div id="owl-carousel-5bdcb65be798c" class="owl-carousel-post owl-carousel" data-items="4" data-auto-play="0" data-nav="true" data-pagination="false"><div class="item format-standart item-list-0"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/academic-nominations/economic-questions/" title="Economic questions"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_1-293x268.jpg" alt="Economic questions" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/academic-nominations/economic-questions/" title="Economic questions">Economic questions</a></h5></div><div class="auxiliary"></div></div></div><div class="item format-standart item-list-1"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/federal-grant-funding/social-questions/" title="Social questions"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_2-293x268.jpg" alt="Social questions" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/federal-grant-funding/social-questions/" title="Social questions">Social questions</a></h5></div><div class="auxiliary"></div></div></div><div class="item format-standart item-list-2"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/flag-requests/medical-questions/" title="Medical questions"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_3-293x268.jpg" alt="Medical questions" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/flag-requests/medical-questions/" title="Medical questions">Medical questions</a></h5></div><div class="auxiliary"></div></div></div><div class="item format-standart item-list-3"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/internship-applications/education-questions/" title="Education questions"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_4-293x268.jpg" alt="Education questions" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/internship-applications/education-questions/" title="Education questions">Education questions</a></h5></div><div class="auxiliary"></div></div></div><div class="item format-standart item-list-4"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/press-releases/phasellus-fringilla/" title="Phasellus fringilla"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_5-293x268.jpg" alt="Phasellus fringilla" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/press-releases/phasellus-fringilla/" title="Phasellus fringilla">Phasellus fringilla</a></h5></div><div class="auxiliary"></div></div></div><div class="item format-standart item-list-5"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/statements-and-speeches/vivamus-vel-sem-at/" title="Vivamus vel sem at"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_6-293x268.jpg" alt="Vivamus vel sem at" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/statements-and-speeches/vivamus-vel-sem-at/" title="Vivamus vel sem at">Vivamus vel sem at</a></h5></div><div class="auxiliary"></div></div></div><div class="item format-standart item-list-6"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/newsletters/etiam-commodo-convallis/" title="Etiam commodo convallis"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_7-293x268.jpg" alt="Etiam commodo convallis" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/newsletters/etiam-commodo-convallis/" title="Etiam commodo convallis">Etiam commodo convallis</a></h5></div><div class="auxiliary"></div></div></div><div class="item format-standart item-list-7"><figure><a href="https://livedemo00.template-help.com/wordpress_54033/news-articles/lorem-ipsum-dolor-sit/" title="Lorem ipsum dolor sit"><img src="https://livedemo00.template-help.com/wordpress_54033/wp-content/uploads/2015/04/img_8-293x268.jpg" alt="Lorem ipsum dolor sit" /></a></figure><div class="desc"><div class="inner"><h5><a href="https://livedemo00.template-help.com/wordpress_54033/news-articles/lorem-ipsum-dolor-sit/" title="Lorem ipsum dolor sit">Lorem ipsum dolor sit</a></h5></div><div class="auxiliary"></div></div></div></div></div>
                                                </section>
                                            </div>
                                        </div><!-- .row (end) -->
                                        <div class="row ">
                                            <div class="span4 ">
                                                <section class="lazy-load-box  trigger effect-slidefromleft" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                    <div class="list styled check-list"><ul><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/academic-nominations/" title="academic-nominations">Academic Nominations</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/caucus-participation/" title="caucus-participation">Caucus Participation</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/federal-grant-funding/" title="federal-grant-funding">Federal Grant Funding</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/flag-requests/" title="flag-requests">Flag Requests</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/internship-applications/" title="internship-applications">Internship Applications</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/news-articles/" title="news-articles">News Articles</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/newsletters/" title="newsletters">Newsletters</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/press-releases/" title="press-releases">Press Releases</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/project-requests/" title="project-requests">Project Requests</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/statements-and-speeches/" title="statements-and-speeches">Statements and Speeches</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/uncategorized/" title="uncategorized">Uncategorized</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/volunteers/" title="volunteers">Volunteers</a></li><li><a href="https://livedemo00.template-help.com/wordpress_54033/category/voting-record/" title="voting-record">Voting Record</a></li></ul></div>
                                                </section>
                                            </div>
                                            <div class="span8 ">
                                                <section class="lazy-load-box  trigger effect-slidefromright" data-delay="200" data-speed="800" style="-webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; -ms-transition: all 800ms ease; -o-transition: all 800ms ease; transition: all 800ms ease;">
                                                    <ul class="mini-posts-list list_2"><li class="mini-post-holder clearfix list-item-0"><div class="mini-post-content"><div class="mini-post-meta"><time datetime="2011-07-15T11:31:31"> <span>11<i>/08</i></span></time></div><h4><a href="https://livedemo00.template-help.com/wordpress_54033/services-view/praesent-vestibulum-aenean-nonummy-hendrerit-mauris/" title="Praesent vestibulum aenean nonummy hendrerit mauris.">Praesent vestibulum aenean nonummy hendrerit mauris.</a></h4><div class="excerpt">Arenean nonummy hendrerit mau phaselntes nascetur ridic ulusm dui fusce feu. Cras vitae neque turpis,&hellip;</div></div></li><li class="mini-post-holder clearfix list-item-1"><div class="mini-post-content"><div class="mini-post-meta"><time datetime="2011-07-15T11:31:02"> <span>07<i>/15</i></span></time></div><h4><a href="https://livedemo00.template-help.com/wordpress_54033/services-view/vivamus-vitae-quam-pretium-varius-eros-condimentum-risus-id/" title="Vivamus vitae quam pretium, varius eros condimentum risus id">Vivamus vitae quam pretium, varius eros condimentum risus id</a></h4><div class="excerpt">Arenean nonummy hendrerit mau phaselntes nascetur ridic ulusm dui fusce feu. Cras vitae neque turpis,&hellip;</div></div></li><li class="mini-post-holder clearfix list-item-2"><div class="mini-post-content"><div class="mini-post-meta"><time datetime="2011-07-15T11:30:21"> <span>07<i>/15</i></span></time></div><h4><a href="https://livedemo00.template-help.com/wordpress_54033/services-view/curabitur-malesuada-luctus-diam-sed-aliquam-varius-eros/" title="Curabitur malesuada luctus diam sed aliquam varius eros">Curabitur malesuada luctus diam sed aliquam varius eros</a></h4><div class="excerpt">Arenean nonummy hendrerit mau phaselntes nascetur ridic ulusm dui fusce feu. Cras vitae neque turpis,&hellip;</div></div></li><li class="mini-post-holder clearfix list-item-3"><div class="mini-post-content"><div class="mini-post-meta"><time datetime="2011-07-15T11:29:43"> <span>07<i>/15</i></span></time></div><h4><a href="https://livedemo00.template-help.com/wordpress_54033/services-view/curabitur-faucibus-metus-ut-massa-varius-eros-lacinia-accumsan/" title="Curabitur faucibus metus ut massa varius eros lacinia accumsan">Curabitur faucibus metus ut massa varius eros lacinia accumsan</a></h4><div class="excerpt">Arenean nonummy hendrerit mau phaselntes nascetur ridic ulusm dui fusce feu. Cras vitae neque turpis,&hellip;</div></div></li></ul><!-- .mini-posts-list (end) -->
                                                    <a href="blog" title="more updates" class="btn btn-primary btn-normal btn-inline align_right" target="_self">more updates</a><!-- .btn -->
                                                </section>
                                                <div class="clear"></div><!-- .clear (end) -->
                                            </div>
                                        </div><!-- .row (end) -->
                                        <div class="clear"></div>
                                    </div><!-- .content_box (end) -->
                                    <div class="clear"></div>
                                    <!--.pagination-->
                                </div><!--post-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="motopress-wrapper footer">
            <div class="container">
                <div class="row">
                    <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="5bdcb65c4cd2f">

                        <div class="row">
                            <div class="span5" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
                                <div id="footer-text" class="footer-text">


                                    <strong><a href="https://livedemo00.template-help.com/wordpress_54033/" title="HVAC Maintenance of Texas" class="site-name">HVAC</a></strong>
                                    &copy; 2018 | <a href="https://livedemo00.template-help.com/wordpress_54033/privacy-policy/" title="Privacy Policy">Privacy Policy</a>
                                    <!-- {%FOOTER_LINK} -->
                                </div>
                            </div>
                            <div class="span7" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar">
                                <div id="mc4wp_widget-4" class="visible-all-devices ">
                                    <h4>Newsletter</h4><!-- Form by MailChimp for WordPress plugin v2.2.5 - https://mc4wp.com/ --><div id="mc4wp-form-1" class="form mc4wp-form">
                                        <form method="post" action="https://livedemo00.template-help.com/wordpress_54033/">
                                            <p>
                                                <label>Email address: </label>
                                                <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email" required />
                                            </p>
                                            <p>
                                                <input type="submit" value="Subscribe" />
                                            </p><textarea name="_mc4wp_required_but_not_really" style="display: none !important;"></textarea><input type="hidden" name="_mc4wp_form_submit" value="1" /><input type="hidden" name="_mc4wp_form_instance" value="1" /><input type="hidden" name="_mc4wp_form_nonce" value="965bf26bab" />
                                        </form>
                                    </div><!-- / MailChimp for WP Plugin -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End #motopress-main-->
    </div>
    <div id="back-top-wrapper" class="visible-desktop">
        <p id="back-top">
            <a href="#top"><span></span></a>
        </p>
    </div>
    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>
/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
		f[z]=function(){
		(a.s=a.s||[]).push(arguments)};var a=f[z]._={
		},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
		f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
		0:+new Date};a.P=function(u){
		a.p[u]=new Date-a.p[0]};function s(){
		a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
		hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
		return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
		b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
		b.contentWindow[g].open()}catch(w){
		c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
		var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
		b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
		loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
		/* custom configuration goes here (www.olark.com/documentation) */
		olark.identify('7830-582-10-3714');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="https://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->
    <script type="text/javascript">
jQuery('.mc4wp-form').find('[type="submit"]').click(function () {
					jQuery(this).parents('.mc4wp-form').addClass('mc4wp-form-submitted');
				});</script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-includes/js/comment-reply.min.js?ver=4.2.21'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/jquery.flexslider-min.js?ver=2.2.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var items_custom = [[0,1],[480,2],[768,3],[980,4],[1170,5]];
/* ]]> */</script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/includes/js/cherry-plugin.js?ver=1.2.7'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-lazy-load/js/cherry.lazy-load.js?ver=1.1'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-lazy-load/js/device.min.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.50.0-2014.02.05'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"https:\/\/livedemo00.template-help.com\/wordpress_54033\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */</script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.8'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/superfish.js?ver=1.5.3'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.mobilemenu.js?ver=1.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.magnific-popup.min.js?ver=0.9.3'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jplayer.playlist.min.js?ver=2.3.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.jplayer.min.js?ver=2.6.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/tmstickup.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/device.min.js?ver=1.0.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.zaccordion.min.js?ver=2.1.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/camera.min.js?ver=1.3.4'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.debouncedresize.js?ver=1.0'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.ba-resize.min.js?ver=1.1'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/themes/CherryFramework/js/jquery.isotope.js?ver=1.5.25'></script>
    <script type='text/javascript' src='https://livedemo00.template-help.com/wordpress_54033/wp-content/plugins/cherry-plugin/lib/js/owl-carousel/owl.carousel.min.js?ver=1.31'></script>
    <script type="text/javascript">deleteCookie('cf-cookie-banner');</script>
    <!-- this is used by many Wordpress features and for plugins to work properly -->
    <script type="text/javascript">
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
</body><!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>

