
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Commitment</h2>

<div class="row">
    <div class="col-md-4">
        <img id="HVAC_logo" alt="HVAC_Logo" src="@Url.Content("~/Content/Images/WWP.jpg")" height="500" width="400" />
    </div>
    <div class="col-md-4">
        <p>
            As many of you know, I’m passionate about giving back to our nation’s service members – the few who fight to protect the freedom of this great country. Often times many of these inspiring individuals come home with wounds you can and can’t see, like a missing limb, combat stress, or depression. Because they’ve risked everything for us, I’m committed to raising awareness and funds for these wounded service members and their caregivers.

            I am proud to host an event benefiting an organization whose mission is to honor and empower Wounded Warriors. Wounded Warrior Project® (WWP) has a big, audacious goal: to foster the most successful, well-adjusted generation of wounded service members in our nation’s history. I’m challenging myself to help WWP reach this vision, and I need your help.

            WWP offers 20 holistic programs to wounded service members and their caregivers completely free of charge and 100% of the funds raised through these event go directly to Wounded Warrior Project to help fuel these programs.
        </p>
    </div>
    </div>
    
