<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1">
    <title>
        FAQ - Wheeler & Associates, Inc.
    </title>
    <script type="text/javascript" src="/Scripts/jquery-1.6.2.js"></script>
    <link href="Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25145883-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <meta name="Description" content="Frequently Asked Questions, FAQ about Ad Valorem Taxes." />
    <meta name="Keywords" content="Wheeler & Associates, Inc., Houston, Tax, Tax Assessor, Tax Collector, Ad Valorem Tax, Frequently Asked Questions, FAQ, Property Tax" />
</head>
<body>
    <div class="page">
        <form method="post" action="./faq" id="Form1">
            <div class="aspNetHidden">
                <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
                <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJMzYxNzI2ODI0D2QWAmYPZBYEZg9kFgICAQ8VARgvU2NyaXB0cy9qcXVlcnktMS42LjIuanNkAgEPZBYCAgcPZBYCAgEPZBYiAgEPZBYEZg8PFgQeCENzc0NsYXNzBQ9hY2NvcmRpb25IZWFkZXIeBF8hU0ICAmRkAgEPDxYEHwAFEGFjY29yZGlvbkNvbnRlbnQfAQICFgIeBXN0eWxlBQ5kaXNwbGF5OmJsb2NrO2QCAg9kFgRmDw8WBB8ABQ9hY2NvcmRpb25IZWFkZXIfAQICZGQCAQ8PFgQfAAUQYWNjb3JkaW9uQ29udGVudB8BAgIWAh8CBQ1kaXNwbGF5Om5vbmU7ZAIDD2QWBGYPDxYEHwAFD2FjY29yZGlvbkhlYWRlch8BAgJkZAIBDw8WBB8ABRBhY2NvcmRpb25Db250ZW50HwECAhYCHwIFDWRpc3BsYXk6bm9uZTtkAgQPZBYEZg8PFgQfAAUPYWNjb3JkaW9uSGVhZGVyHwECAmRkAgEPDxYEHwAFEGFjY29yZGlvbkNvbnRlbnQfAQICFgIfAgUNZGlzcGxheTpub25lO2QCBQ9kFgRmDw8WBB8ABQ9hY2NvcmRpb25IZWFkZXIfAQICZGQCAQ8PFgQfAAUQYWNjb3JkaW9uQ29udGVudB8BAgIWAh8CBQ1kaXNwbGF5Om5vbmU7ZAIGD2QWBGYPDxYEHwAFD2FjY29yZGlvbkhlYWRlch8BAgJkZAIBDw8WBB8ABRBhY2NvcmRpb25Db250ZW50HwECAhYCHwIFDWRpc3BsYXk6bm9uZTtkAgcPZBYEZg8PFgQfAAUPYWNjb3JkaW9uSGVhZGVyHwECAmRkAgEPDxYEHwAFEGFjY29yZGlvbkNvbnRlbnQfAQICFgIfAgUNZGlzcGxheTpub25lO2QCCA9kFgRmDw8WBB8ABQ9hY2NvcmRpb25IZWFkZXIfAQICZGQCAQ8PFgQfAAUQYWNjb3JkaW9uQ29udGVudB8BAgIWAh8CBQ1kaXNwbGF5Om5vbmU7ZAIJD2QWBGYPDxYEHwAFD2FjY29yZGlvbkhlYWRlch8BAgJkZAIBDw8WBB8ABRBhY2NvcmRpb25Db250ZW50HwECAhYCHwIFDWRpc3BsYXk6bm9uZTtkAgoPZBYEZg8PFgQfAAUPYWNjb3JkaW9uSGVhZGVyHwECAmRkAgEPDxYEHwAFEGFjY29yZGlvbkNvbnRlbnQfAQICFgIfAgUNZGlzcGxheTpub25lO2QCCw9kFgRmDw8WBB8ABQ9hY2NvcmRpb25IZWFkZXIfAQICZGQCAQ8PFgQfAAUQYWNjb3JkaW9uQ29udGVudB8BAgIWAh8CBQ1kaXNwbGF5Om5vbmU7ZAIMD2QWBGYPDxYEHwAFD2FjY29yZGlvbkhlYWRlch8BAgJkZAIBDw8WBB8ABRBhY2NvcmRpb25Db250ZW50HwECAhYCHwIFDWRpc3BsYXk6bm9uZTtkAg0PZBYEZg8PFgQfAAUPYWNjb3JkaW9uSGVhZGVyHwECAmRkAgEPDxYEHwAFEGFjY29yZGlvbkNvbnRlbnQfAQICFgIfAgUNZGlzcGxheTpub25lO2QCDg9kFgRmDw8WBB8ABQ9hY2NvcmRpb25IZWFkZXIfAQICZGQCAQ8PFgQfAAUQYWNjb3JkaW9uQ29udGVudB8BAgIWAh8CBQ1kaXNwbGF5Om5vbmU7ZAIPD2QWBGYPDxYEHwAFD2FjY29yZGlvbkhlYWRlch8BAgJkZAIBDw8WBB8ABRBhY2NvcmRpb25Db250ZW50HwECAhYCHwIFDWRpc3BsYXk6bm9uZTtkAhAPZBYEZg8PFgQfAAUPYWNjb3JkaW9uSGVhZGVyHwECAmRkAgEPDxYEHwAFEGFjY29yZGlvbkNvbnRlbnQfAQICFgIfAgUNZGlzcGxheTpub25lO2QCEQ9kFgRmDw8WBB8ABQ9hY2NvcmRpb25IZWFkZXIfAQICZGQCAQ8PFgQfAAUQYWNjb3JkaW9uQ29udGVudB8BAgIWAh8CBQ1kaXNwbGF5Om5vbmU7ZGTR0OykxnLB/zTcAeiE59azsAgDKfYXsF7nEQgjqqxmcg==" />
            </div>

            <script type="text/javascript">
//<![CDATA[
var theForm = document.forms['Form1'];
if (!theForm) {
    theForm = document.Form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
            </script>


            <script src="/WebResource.axd?d=OayBfgd4ioj48ZrgiPbNFWXTz-CN6-NjFLcrL4ZqUPjGorLHgbx2Tmpoy8NBjtuUg6B7SHMyTUXjDZ3Oga6yHamVdsXU9rZ3K3JWhrpGJk01&amp;t=635802997220000000" type="text/javascript"></script>


            <script src="/ScriptResource.axd?d=UPv9SXKzouo6ks1CH0DaQBVSHbR6OJVIDTTp4qOKJPEdv0NNoDRQMIsXCBUhPh-Dot4NXhwCO6PNvzHSV_hW2BRTkWwB0Mz-NSp5VlHqMBgZ_UJqGmW7AiX9MLHRScKy0_ZslHvOQnwnU8Dx34d0Og2&amp;t=62fc1f78" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=qbvsDxSItl4aX3VfasGSuAphIi4Ja_Iw2MNIxI5G0r9KgtXmtnLRjkz71_0g7-u2u21D3mYLmx0sSJS3u8iy4--YBJjQ8RRuh91ILokTlVr7tyQRKS1LwNM8XNV7Ta_xGsBe2fV8d9Cn7qPKxM9z5FcLafZukgCKMJjsmjtwMo81&amp;t=5f9d5645" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=VLs70oEX_Djoifw-oaLDOvUgQUgeO03Hki-vwByMBTdwcCZhmXUfN9qf2O1H1VkxN54d_LNFcgjLIQ7C3xJmtSmJltcpjMfgwte0yW0yY9PvqjSq3yvs8xYB0Yd747CjQU68fcjOjjLYFHYDPCxWIv3ON5PCqJtLj8FbfuqZuB_CdgkReCxrNJ0rCBG1BCxk0&amp;t=5f9d5645" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=k0jJ04kkDgJpqScyj0bDB4A_gHgMqzXsCjyI6yWMupVtDSLCzxXcufNKMO9Xz-1ijcWqVz_uDGxTSuXFEDfqBJZE-AVGN7KALjie9EKDYuv-1woBAgO99EBvpDHEPLh86RAR-8TLGz5Njk0oYsTY3Q2&amp;t=5e95cc64" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=xLfVYzV_yMitSZRj48FiEmRX6IuDeRcbFHz94JF4_6-RF728E7BLLTQNfP0uMakxStewRPHZO5LqnpOL6l-Y2jSR3rOXuv9aBXcoFlznwXc1iJokEO1T284mEIe3gq9b0&amp;t=5e95cc64" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=IbKhg4xyKwAtosQJCmLL7A6AuF7Ponya04UgBoMuChrZ6FvBBXv-cpgq8l1aaX5_mvVVnHqUP_axXmKTlcUOjA8-INiqA77832I8H7ITF_cykobBog3K6LxPm4hM95MW0&amp;t=5e95cc64" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=XT4Ua_JIiyktWdCY1AOdnegnorwA_PxQa9rvFt1KJ_NfIzxznpMw8iNScdBph84CawTpNTjGeJKKOUwzyVNNRBmE7Z60P1xnpH0VsQ9bjbHIDpQcy5yod9ogUwrzNPno0&amp;t=5e95cc64" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=oXc9c-V7cf2VOUq0K3I8qd0d0PAbpG_jK__0dogG3ilcEpix88GR6b3DV7sIvURGfxtnlsPU3Im_uOmyJ1IMNCWydiVTdAJlaEnqAHxMwJ8kK6gKV6gvzSAxEuMkpa2LyspsqW3PKXX1yGjphWUEmw2&amp;t=5e95cc64" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=P4vm3c1wpSRpmI1Y2hbMPkxT7b6JUkapa57GD3ZRZlJMsquh6nweNysRnJ5S2MuhpkPTfRwLg45YnyPwkZ5zXGJy6uD-YFVSTUGJpTvBeSlfY1rWozyVqPBT66cQqk660&amp;t=5e95cc64" type="text/javascript"></script>
            <script src="/ScriptResource.axd?d=snWV1CQq39Jk9a8mrjOqaqFcM8KkxK4u8F1Pe6YCD7zT40fYyUkZJs2T9x5T78z2AI67c4TfCqjSGC3Rqf5Lk6rWmvM3LsRRyCEn_wyv2CocvcHHBZwUJ7rHBvZJksrs0&amp;t=5e95cc64" type="text/javascript"></script>
            <div class="aspNetHidden">

                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="0F4F4B68" />
                <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAJ8D62LT03ebA24BS7RujYw0DxPsfa7VvwICwpMEOBEHMJl8EODwpZfTfN0jk/kMzb3x+2mkDChsIxZcIsL0SKf" />
            </div>
            <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ToolkitScriptManager', 'Form1', [], [], [], 90, 'ctl00');
//]]>
            </script>

            <div class="header">
                <div class="menustrip">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="Images/weblogo.png" alt="home" />
                                </td>
                                <td valign="bottom">
                                    <img src="Images/rightimage.png" alt="site" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="menunav">
                    <div class="menulogin">
                    </div>
                    <div class="menucontainer">
                        <div class="menu" id="NavigationMenu">
                            <ul class="level1">
                                <li><a title="Announcements &amp; General Information" class="level1" href="/">Home</a></li>
                                <li><a title="Search &amp; Make a Payment Online" class="level1" href="search">Account Search</a></li>
                                <li><a title="District&#39;s Rates and Exemptions" class="level1" href="district">District</a></li>
                                <li><a title="Frequently Ask Questions" class="level1" href="faq">FAQ</a></li>
                                <li><a title="Other Informations and Useful Links" class="level1" href="info">Useful Info</a></li>
                                <li><a title="Location &amp; Contacts " class="level1" href="contact">Contact</a></li>
                                <li><a title="All about Our Business" class="level1" href="about">About us</a></li>
                                <li><a title="For Official Personnels Only" class="level1" href="login">Authorized User</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">

                <div class="upperblankspace">
                    &nbsp;
                </div>
                <div class="content">
                    <div class="pagetitle">
                        Frequently Asked Questions
                    </div>
                    <div id="MainContent_FAQAccordion">
                        <input type="hidden" name="ctl00$MainContent$FAQAccordion_AccordionExtender_ClientState" id="MainContent_FAQAccordion_AccordionExtender_ClientState" value="0" /><div class="accordionHeader">

                            When is my payment due?

                        </div><div class="accordionContent" style="display:block;">

                            All property taxes are due upon receipt and delinquent after January 31st.

                        </div><div class="accordionHeader">

                            Who do I make my check payable to?

                        </div><div class="accordionContent" style="display:none;">

                            Checks are made payable to whomever your MUD District is.

                        </div><div class="accordionHeader">

                            Can I make my payment over the phone?

                        </div><div class="accordionContent" style="display:none;">

                            Yes. We accept credit card payment by phone.

                        </div><div class="accordionHeader">

                            Can I make my payment online?

                        </div><div class="accordionContent" style="display:none;">

                            You can make your payment online via credit card or E-Check (Electronic Check) for a small convenience fee required by the payment processing company.
                            Our tax office does not receive any portion of the convenience fees. Please note that there will be a $10,000 limit for E-Checks. Please be advised that
                            payment will not be considered paid until our tax office has received funds from the credit card company or bank.

                        </div><div class="accordionHeader">

                            Can I pay my taxes in payments?

                        </div><div class="accordionContent" style="display:none;">

                            Unlike the county and school tax, a MUD jurisdiction is a smaller taxing entity and unable to offer partial payment of taxes.
                            Therefore a MUD tax must be paid in full, unless you are over 65 or disabled, please see below.

                        </div><div class="accordionHeader">

                            Can I make payments on my current taxes if I am over 65 or disabled?

                        </div><div class="accordionContent" style="display:none;">

                            Yes.  You can make 4 equal payments.  The payment schedule is as follows.<br /><br />
                            1st Payment - By January 31<br />
                            2nd Payment - By March 31<br />
                            3rd Payment - By May 31<br />
                            4th Payment - By July 31

                        </div><div class="accordionHeader">

                            How can I change the name or mailing address on my statement?

                        </div><div class="accordionContent" style="display:none;">

                            You can contact the central appraisal district’s office to change or correct any of the information on your statement.
                            Once you have changed the information with the appraisal district they will change it with all of the tax entities.
                            Please click on the contact page and look under appraisal district contacts.

                        </div><div class="accordionHeader">

                            If my taxes are not paid why does my water get disconnected?

                        </div><div class="accordionContent" style="display:none;">

                            The Texas property tax law states in section (49.212 paragraph c) Subject to observance of the procedure appropriate to the circumstances,
                            a district may discontinue any or all facilities or services to prevent an abuse or to enforce payment of an unpaid charge, fee,
                            or rental due the district, including taxes that have been delinquent for not less than six months.

                        </div><div class="accordionHeader">

                            What is a MUD tax?

                        </div><div class="accordionContent" style="display:none;">

                            A MUD tax is a property tax bill just like your county and school tax and the same tax laws apply.
                            If your home is located in a MUD district you must pay an additional property tax.
                            These taxes pay back the bonds, maintenance and operations of the district.
                            MUD stands for Municipal Utility District.
                            If your property is located within a MUD jurisdiction, this means that the underground infrastructure for water,
                            sewer and drainage was provided by the district and not by the county.

                        </div><div class="accordionHeader">

                            Why didn’t I know about this tax?

                        </div><div class="accordionContent" style="display:none;">

                            It is the responsibility of the realtor, builder or seller of the property to inform you of the MUD district your property is located in.
                            You must be given a Notice To Purchaser that gives information about the district your property is located in prior to closing.

                        </div><div class="accordionHeader">

                            What if I never received a tax bill?

                        </div><div class="accordionContent" style="display:none;">

                            The Texas property tax law states in section (31.01 paragraph G)
                            Failure to send or receive a tax bill does not affect the validity, penalty, interest, due date or any procedure instituted to collect a tax.
                            This means that even if you never received your annual tax bill, penalty and interest will not be waived.
                            It is solely the responsibility of the owner of the property to make sure all tax bills have been received and paid on time.
                            All tax bills should be received by mid November. Texas property tax law also states in section (31.01 paragraph J)
                            If a tax bill is mailed to a mortgagee of a property, the mortgagee shall mail a copy of the bill to the owner of the property
                            not more than 30 days following the mortgagee’s receipt of the tax bill.  This law is in place to benefit the current owner of the property.
                            When you purchase a new or existing property, it can take 4 to 6 months for the county clerk’s office and the appraisal district to process
                            your warranty deed and place your name and mailing address on your property.  If you move have a name change or lease out your property,
                            you must contact your local appraisal district and request an application to change your name or mailing address to insure receipt of a tax bill.

                        </div><div class="accordionHeader">

                            Why didn’t my mortgage company pay my taxes?

                        </div><div class="accordionContent" style="display:none;">

                            If you have an escrow account with your mortgage company, it is the responsibility of your mortgage company to request a tax bill annually and to
                            make sure your tax bill is paid on time. Because mortgage companies change hands so often, they must request a bill every year.
                            If a mortgage company does not pay your taxes on time, penalty and interest must be paid by the mortgage company and not out of your escrow account.
                            Please be aware that when refinancing your mortgage, you may drop your escrow and be solely responsible for requesting and paying your tax bill on time.

                        </div><div class="accordionHeader">

                            Why didn’t you apply my exemption to my tax bill?

                        </div><div class="accordionContent" style="display:none;">

                            If you own and occupy your home on January 1st of the current tax year, you <b>may</b> qualify for a homestead exemption. This is not a guarantee of exemption.
                            Most MUD districts do not offer exemptions because they are smaller jurisdictions and must pay down their bonds and have enough commercial value in their
                            district to take the burden off the homeowner in order to <b>offer</b> these exemptions. If your district does offer exemptions, you must first apply with your
                            local appraisal district. Once you have been approved, the appraisal district will transfer your exemptions to the county, school and MUD
                            tax offices so that we may apply them to your tax bill. If you receive a tax bill and are waiting on an exemption, it is best to go ahead and pay your tax bill.
                            You will be reimbursed once your exemption is processed. If you allow your tax bill to become delinquent because you are waiting on an exemption,
                            you will still have to pay penalty and interest.

                        </div><div class="accordionHeader">

                            Why do I have to pay taxes for the entire year if I didn’t own the property the whole year?

                        </div><div class="accordionContent" style="display:none;">

                            Persons who bought real estate during the year are responsible for paying the entire years tax. When taxes are prorated at closing,
                            the title company will collect money from the seller or builder to pay their portion of the year’s taxes from January 1st to the date of sale.
                            This money collected from the seller is given to the buyer at closing as a credit, usually toward down payment or closing cost.
                            At the end of the year the new owner is responsible for paying the entire tax bill.  Persons who owned business personal property or
                            mobile homes on January 1st of the tax year being billed, are still personally liable for the entire years' tax,
                            even if the business or property was sold, went out of business or moved during the year.

                        </div><div class="accordionHeader">

                            I already pay a monthly water bill, why do I have to pay taxes?

                        </div><div class="accordionContent" style="display:none;">

                            The water bill is strictly for your monthly water usage.  The taxes pay the district back for the underground infrastructure.  Also see, what is a MUD.

                        </div><div class="accordionHeader">

                            Why didn’t you send a tax bill to my mortgage company?

                        </div><div class="accordionContent" style="display:none;">

                            Our office does not keep mortgage company information on file due to the fact that they change so often.
                            Your mortgage company can request an electronic copy of your bill from our office.  Or they can go to our website and print a copy.

                        </div><div class="accordionHeader">

                            Why don’t I receive a delinquent notice each month?

                        </div><div class="accordionContent" style="display:none;">

                            The district does not send out a monthly billing for the taxes because it would increase the cost for the district.
                            The tax rate would then be increased to compensate for that cost.

                        </div>
                    </div>
                    <br />
                    <br />
                </div>

            </div>

            <script type='text/javascript'>new Sys.WebForms.Menu({ element: 'NavigationMenu', disappearAfter: 500, orientation: 'horizontal', tabIndex: 0, disabled: false });</script>
            <script type="text/javascript">
//<![CDATA[
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.AccordionBehavior, {"ClientStateFieldID":"MainContent_FAQAccordion_AccordionExtender_ClientState","fadeTransitions":true,"framesPerSecond":40,"headerCssClass":"accordionHeader","id":"MainContent_FAQAccordion_AccordionExtender"}, null, null, $get("MainContent_FAQAccordion"));
});
//]]>
            </script>
        </form>
        <div class="main">

        </div>
        <div class="upperblankspace">
        </div>
    </div>
    <div class="footer">
        <br />
        <br />
        
    </div>
</body>
</html>

