@{
    ViewBag.Title = "Home Page";
}

<div style="background:transparent !important" class="jumbotron">
    <h1>HVAC Maintenance of Texas</h1>
    <p class="lead">PROUDLY SERVING THE HOUSTON AREA FOR ALL OF YOUR AC & FURNACE NEEDS</p>
    <p><a href="https://hvacmot.azurewebsites.net/account/register" class="btn btn-primary btn-lg">Register Today! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Choose Us?</h2>
        <p>
            <ul>
                <li>
                    Free second opinion
                </li>
                <li>
                    Free estimates on replacements and installs
                </li>
                <li>
                    10% military, police and senior citizen discount
                </li>
                <li>
                    Free one-year service agreement with whole system replacement
                </li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://hvacmot.azurewebsites.net/Home/Services">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HVAC Services</h2>
        <p>If you are looking for excellent heating and AC services in Houston with a people-friendly approach, then you’ve came to the right place! At Superior HVAC, our team’s ultimate goal is to serve you and make your experience a pleasant one—you can quote us when we say we will stop at nothing to ensure that you and your family are happy and comfortable in your home. We offer our expert HVAC services in Houston, Cypress, Conroe, The Woodlands, Tomball, Magnolia and Spring. The extensive list of services we can provide for you can be found below.</p>
        <p><a class="btn btn-default" href="https://hvacmot.azurewebsites.net/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HVAC 101</h2>
        <p>There are a lot of things to think about when buying a heater, furnace or central air conditioning system. Second to your home, an HVAC system is one of the best and most important investments you can make. We understand there are many considerations during this investment period, so if you have questions about your air conditioning or heating system, check out the 10 most common questions we receive about heating, ventilation and air conditioning in greater Houston. Don’t find an answer to your question below? Get in contact with our team of professionals, today!</p>
        <p><a class="btn btn-default" href="https://hvacmot.azurewebsites.net/Home/HVAC101">Learn more &raquo;</a></p>
    </div>
</div>